@model SaleManamentSystem.Models.ProductEntity

<div class="modal-header bg-primary text-white">
    <h5 class="modal-title">THÊM MỚI SẢN PHẨM</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

@using (Html.BeginForm("AddProduct", "Product", FormMethod.Post, new { id = "addForm", onsubmit = "return false;" }))
{
    <div class="modal-body">
        <div class="mb-3">
            <label class="fw-bold">Mã sản phẩm</label>
            @Html.TextBoxFor(m => m.ProductID, new { @class = "form-control",id = "ProductID", placeholder = "VD: SP001" })
            <span class="text-danger small fw-bold" style="display:none;"></span>
            @Html.ValidationMessageFor(m => m.ProductID, "", new { @class = "text-danger small" })
        </div>

        <div class="mb-3">
            <label class="fw-bold">Tên sản phẩm</label>
            @Html.TextBoxFor(m => m.ProductName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ProductName, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            <label class="fw-bold">Giá bán</label>
            @Html.TextBoxFor(m => m.Price, new { @class = "form-control", type = "number" })
            @Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>

        <button type="button" onclick="submitAddForm('Continue')" class="btn btn-info">Nhập tiếp</button>

        <button type="button" onclick="submitAddForm('Save')" class="btn btn-primary">Lưu và Đóng</button>
    </div>
}



<script>
    (function () {
        $(document).on('input', '#ProductID', function () {
            var val = $(this).val().replace(/\s/g, '').toUpperCase();
            $(this).val(val);
        });

        $(document).on('blur', '#ProductID', function () {
            var productID = $(this).val().trim();
            var $input = $(this);
            var $errorSpan = $input.nextAll('.text-danger').first();

            if (productID === "") return;

            $.get('/Product/CheckExistingProduct', { productID: productID }, function (exists) {
                if (exists) {
                    $input.addClass('is-invalid');
                    $errorSpan.text("Mã sản phẩm này đã tồn tại!").show();
                    $('.btn-primary, .btn-info').prop('disabled', true);
                } else {
                    $input.removeClass('is-invalid').addClass('is-valid');
                    $errorSpan.text("").hide();
                    $('.btn-primary, .btn-info').prop('disabled', false);
                }
            });
        });
        $(document).ready(function () {
            $('#actionModal').on('hidden.bs.modal', function () {
                location.reload();
            });
        });
    })(); 

    
</script>